*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: wrap;
    color: white;
    background-image: linear-gradient(
        45deg,
     yellow 20%,
     violet 70%
    );
    font-family: arial;
}

.background{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    padding: 100px 200px 200px 200px;
    text-align: center;
}

input{
    padding: 4px 4px 4px 4px ;
    margin-top: 15px;
    border: none;
    background-color: #EE82EE;
    padding: 9px 40px 9px;
    border-radius: 9px;
    
    
}
.cadastro{
    background-color: violet;
   padding: 9px 40px 9px ;
   border: solid white;
   border-radius: 4px;
}
.voltar{
    margin-left: 16px ;
    background-color: yellow;
   padding: 9px 40px 9px ;
   border: solid white;
   border-radius: 4px;
   cursor: pointer;
   color: black;
   text-decoration: none;
   
}


label{
    
}